extends layout

block content

  div.gc-auth-page
    div.gc-auth-card

      h2.gc-auth-title Login
      p.gc-auth-subtitle Accedi al tuo account Green City

      if errore
        div.gc-auth-error #{errore}

      form(action="/login" method="POST")

        div.gc-form-group
          label Email
          input(type="email" name="email" placeholder="Inserisci la tua email" required)

        div.gc-form-group
          label Password
          input(type="password" name="password" placeholder="Inserisci la password" required)

        button.gc-btn(type="submit") Accedi

      p.gc-auth-footer
        | Non sei ancora registrato?&nbsp;
        a(href="/registrazione") Registrati
