extends layout

block content

  div.container.d-flex.justify-content-center.align-items-center(style="min-height: 80vh;")

    div.card.shadow-lg.p-4(style="width: 350px; border-radius: 15px;")

      h3.text-center.mb-4 Login

      div.mb-3
        label.form-label Username
        input#username.form-control(type="text", placeholder="Inserisci username")

      div.mb-3
        label.form-label Password
        input#password.form-control(type="password", placeholder="Inserisci password")

      button.btn.btn-primary.w-100.mt-2(onclick="login()") Accedi

      p.text-center.mt-3
        | Non hai un account? 
        a(href="/registrazione") Registrati
  script.
    async function login() {

      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;

      const res = await fetch("/login", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ username, password }),
        credentials: "include"
      });

      if (res.ok) {
        window.location.href = "/";
      } else {
        alert("Credenziali errate");
      }
    }